# Components menu

rsource "ble/Kconfig"

menuconfig GUIX
	bool "GUIX for zephyr"
	help
	  Enable options for GUIX.
if GUIX
  rsource "gui/Kconfig"
endif

rsource "stp/Kconfig"
rsource "protobuf-c/Kconfig"
rsource "services/Kconfig"
