
menu "Flash Device"

config APOLLO_MSPI_NOR
  bool "Apollo mspi nor-flash"
  select MSPI_APOLLO3P
  help
    Flash device model is mx25u512g
  
menuconfig  APOLLO_SOC_FLAH
	bool "apollo3 flash driver"
	select FLASH_HAS_PAGE_LAYOUT
	select FLASH_HAS_DRIVER_ENABLED
	default y
	help
	  Enable options for soc flash drivers.

if APOLLO_SOC_FLAH
  #rsource "Kconfig.apoolo3p_soc_flash"
endif

endmenu
